.sideNav
	.sideNav-container
		.sideNav-group.J-group
			a.group-title.J-group-title 资讯管理2
				//- i.group-title-ico
			.group-divider
			.group-list
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/list.html" target="manage-inner") 列表
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/list2.html" target="manage-inner") 错误详情
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/上传-list.html" target="manage-inner") 订单上传
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/标签页.html" target="manage-inner") 标签页
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/发票登记-list.html" target="manage-inner") 发票登记
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/支付管理-list.html" target="manage-inner") 支付管理
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/数据准备-list.html" target="manage-inner") 数据准备
					span.active-pillar
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/待审核详情-list.html" target="manage-inner") 待审核详情
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/个人信息-list.html" target="manage-inner") 个人信息
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/审核失败提示-list.html" target="manage-inner") 审核失败提示
					span.active-pillar
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/审核成功提示-list.html" target="manage-inner") 审核成功提示
					span.active-pillar
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/修改密码-list.html" target="manage-inner") 修改密码
					span.active-pillar
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/级联下拉.html" target="manage-inner") 级联下拉
					span.active-pillar
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/提现登记-list.html" target="manage-inner") 提现登记
					span.active-pillar
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/预申报确认-list.html" target="manage-inner") 预申报确认
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
		.sideNav-group.J-group
			a.group-title.J-group-title 资讯管理
				//- i.group-title-ico
			.group-divider
			.group-list
				a.sideNav-linker.J-group-linker(href="http://192.168.180.40:8080/newyorkOutside/batchdeclare/ggoodsdeclmerger.jspa" target="manage-inner") 跨境页面
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/404.html" target="manage-inner") 404错误页面
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/500.html" target="manage-inner") 500错误页面
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/密码修改.html" target="manage-inner") 密码修改
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/密码修改-成功.html" target="manage-inner") 密码修改-成功
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/改绑邮箱.html" target="manage-inner") 改绑邮箱
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/改绑邮箱-重新发送.html" target="manage-inner") 改绑邮箱-重新发送
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/信息修改.html" target="manage-inner") 信息修改
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/提交成功.html" target="manage-inner") 提交成功
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/提交失败.html" target="manage-inner") 提交失败
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
		.sideNav-group.J-group
			a.group-title.J-group-title 资讯管理
				//- i.group-title-ico
			.group-divider
			.group-list
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/供货商推荐-list.html" target="manage-inner") 供货商推荐
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
			.group-divider
			.group-list
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/供货商推荐-backend-list.html" target="manage-inner") 供货商推荐后台
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
			.group-divider
			.group-list
				a.sideNav-linker.J-group-linker(href="#{htmlRoot}/inner/归类测试-list.html" target="manage-inner") 归类测试
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider
				a.sideNav-linker.J-group-linker(href="#" target="manage-inner") 资讯统计
					span.active-pillar
					//- i.ico-font.sideNav-linker-ico &#xe602;
				.group-divider