extends ../../layout/common.jade
block head-theme
	link(rel = 'stylesheet' href = '#{cssRoot}/show.css')

block main-content
	.show-container#J-showContainer(style="background: url('#{imgRoot}/all/bg-bullet.jpg') 0 0 no-repeat")
		.bullet-channel-list
			.bullet-channel.J-bulletChannel
			.bullet-channel.J-bulletChannel
			.bullet-channel.J-bulletChannel
			.bullet-channel.J-bulletChannel
			.bullet-channel.J-bulletChannel
			.bullet-channel.J-bulletChannel

		.show-bullet-title0#J-bulletTitle0
		.show-bullet-title#J-bulletTitle

		.show-bullet-photo#J-bulletPhoto

append floor-script
	script.
		var gShowPhotosOfKeyboard = {
			//- 企咨部《口岸笑谈》  - 1
			"49": {
				pics: [
						"#{imgRoot}/show/49/1.jpg",
						"#{imgRoot}/show/49/2.jpg",
						"#{imgRoot}/show/49/3.jpg",
						"#{imgRoot}/show/49/4.jpg",
						"#{imgRoot}/show/49/5.jpg",
						"#{imgRoot}/show/49/6.jpg",
						
						"#{imgRoot}/show/49/7.jpg",
						"#{imgRoot}/show/49/8.jpg",
						"#{imgRoot}/show/49/9.jpg",
						"#{imgRoot}/show/49/10.jpg",
						"#{imgRoot}/show/49/11.jpg",
						"#{imgRoot}/show/49/12.jpg",
						
						"#{imgRoot}/show/49/13.jpg",
						"#{imgRoot}/show/49/14.jpg",
						"#{imgRoot}/show/49/15.jpg",
						"#{imgRoot}/show/49/16.jpg",
						"#{imgRoot}/show/49/17.jpg",
						"#{imgRoot}/show/49/18.jpg",
						
						"#{imgRoot}/show/49/19.jpg",
						"#{imgRoot}/show/49/20.jpg",
						"#{imgRoot}/show/49/21.jpg",
						"#{imgRoot}/show/49/22.jpg",
						"#{imgRoot}/show/49/23.jpg",
						"#{imgRoot}/show/49/24.jpg",

						"#{imgRoot}/show/49/25.jpg",
						"#{imgRoot}/show/49/26.jpg",
						"#{imgRoot}/show/49/27.jpg",
						"#{imgRoot}/show/49/28.jpg",
						"#{imgRoot}/show/49/29.jpg",
						"#{imgRoot}/show/49/30.jpg",

						"#{imgRoot}/show/49/31.jpg",
						"#{imgRoot}/show/49/32.jpg",
						"#{imgRoot}/show/49/33.jpg",
						"#{imgRoot}/show/49/34.jpg",
						"#{imgRoot}/show/49/35.jpg",
						"#{imgRoot}/show/49/36.jpg",
						"#{imgRoot}/show/transparent.png",
						"#{imgRoot}/show/49/1.png",
						"#{imgRoot}/show/49/2.png",
						"#{imgRoot}/show/49/3.png",
						"#{imgRoot}/show/49/4.png",
						"#{imgRoot}/show/49/5.png",
						"#{imgRoot}/show/49/6.png",
						"#{imgRoot}/show/49/7.png",
						"#{imgRoot}/show/49/8.png",
						"#{imgRoot}/show/49/9.png",
						"#{imgRoot}/show/49/10.png",
						"#{imgRoot}/show/49/11.png",
						"#{imgRoot}/show/49/12.png"
					  ],
				auto: false,
				loop: false
			},
			//- 融易通销售部《宫里的那些事》  - 2
			"50": {
				pics: [
					"#{imgRoot}/show/50/1.jpg"
					,"#{imgRoot}/show/transparent.png"
				],
				auto: false,
				loop: false
			},
			//- 义乌办《电商换市》  - 3
			"51": {
				pics: [
					"#{imgRoot}/show/51/1.jpg",
					"#{imgRoot}/show/51/2.jpg",
					"#{imgRoot}/show/51/3.jpg"
					,"#{imgRoot}/show/transparent.png"
					],
				auto: false,
				loop: false
			},
			//- 融易通大客户+行政《万万没想到》  - 4
			"52": {
				pics: [
						"#{imgRoot}/show/52/1.jpg",
						"#{imgRoot}/show/52/2.jpg",
						"#{imgRoot}/show/52/3.jpg",
						"#{imgRoot}/show/52/4.jpg",
						"#{imgRoot}/show/52/5.jpg",
						"#{imgRoot}/show/52/6.jpg"
						,"#{imgRoot}/show/transparent.png"
					  ],
				auto: false,
				loop: false
			},

			//- 风筝队  - 5
			"53": {
				pics: [
						"#{imgRoot}/show/53/1.jpg",
						"#{imgRoot}/show/53/2.jpg",
						"#{imgRoot}/show/53/3.jpg",
						"#{imgRoot}/show/53/4.jpg",
						"#{imgRoot}/show/53/5.jpg"
						,"#{imgRoot}/show/transparent.png"
					  ],
				auto: false,
				loop: false
			}
		}

	script(src = '#{jsRoot}/lib/loadimage/load-image.js')
	script(src = '#{jsRoot}/app/face.js')
	script(src = '#{jsRoot}/app/bullet.js')
	script(src = '#{jsRoot}/app/action.js')

		