extends ../../layout/common.jade
block head-theme
	link(rel = 'stylesheet' href = '#{cssRoot}/show.css')

block main-content
	.show-container(style="background: url('#{imgRoot}/all/bg-dashang1.jpg') 0 0 no-repeat")
		.ds-music
			audio#J-coinMusic(src="#{musicRoot}/gold.mp3")
		.ds-total
			.num#J-total(data-original-val="1568")
				span.txt.J-dsNumItem 0
				span.txt.J-dsNumItem 0
				span.txt ,
				span.txt.J-dsNumItem 0
				span.txt.J-dsNumItem 0
				span.txt.J-dsNumItem 0

			.name
				span.txt 《拍档组合名》
		.ds-coin#J-coin
		.ds-record
			.wrap
				ul.record-list#J-dsRecordList(data-get-ds-url="/cgoWeixin/screen/rewardShow!getRewardInfoListByShowId.jspa?candId=41")
					li.record-item
						.record-cont
							span.nickname 陈小明
							span.coin
								| 打赏
								em 100
								| 金币
					li.record-item
						.record-cont
							span.nickname 陈小明
							span.coin
								| 打赏
								em 100
								| 金币
					li.record-item
						.record-cont
							span.nickname 陈小明
							span.coin
								| 打赏
								em 100
								| 金币
					//- li.record-item
					//- 	.record-cont
					//- 		span.nickname 陈小明
					//- 		span.coin
					//- 			| 打赏
					//- 			em 100
					//- 			| 金币
					//- li.record-item
					//- 	.record-cont
					//- 		span.nickname 陈小明
					//- 		span.coin
					//- 			| 打赏
					//- 			em 100
					//- 			| 金币
					//- li.record-item
					//- 	.record-cont
					//- 		span.nickname 陈小明
					//- 		span.coin
					//- 			| 打赏
					//- 			em 100
					//- 			| 金币



append floor-script
	script(src = '#{jsRoot}/app/dashang.js')
	script(src = '#{jsRoot}/app/action.js')
					
