extends ../../layout/common.jade
block head-theme
	link(rel = 'stylesheet' href = '#{cssRoot}/animation.css')

block main-content
	.sphere-container#J-sphereContainer
		.sphere-list#J-picList
			- var c = 12
			- var n = 32
			- var total = c*n

			while total--
				.pic
					.pic-front
					.pic-back
		
		.sphere-newcomer#J-newComer(style="background-image: url(#{imgRoot}/all/1.jpg)")

		.sphere-qrCodeScan#J-codeScan
			img.qrCodeScan-img(src="#{imgRoot}/all/qrcode.jpg")
			.qrCodeScan-txt
				| 扫一扫
				| 
				| 签到加入
	.letter-container#J-letterContainer
append floor-script
	script(src = '#{jsRoot}/app/sphere.js')
	script(src = '#{jsRoot}/app/letter.js')
	script(src = '#{jsRoot}/app/action.js')
	//- script(src = '#{jsRoot}/app/tablet.js')